* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #17212c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 64px 0px 64px;
    box-sizing: border-box;
}

#payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 24px;
    width: 100%;
}

#payment .order {
    background: #1d2837;
    flex-basis: max(300px, 33vw);
    /* width: max(300px, 37vw); */
    padding: 24px;
    /* border: 1px solid #627283; */
    border-radius: 8px;
    box-shadow:
        inset 4px 0px 0px #1f2d3b,
        inset 0px 4px 0px #1f2d3b,
        inset -4px 0px 0px #1f2d3b,
        inset 0px -4px 0px #1f2d3b;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    box-sizing: border-box;
}

#payment .order div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #233547;
    box-sizing: border-box;
}

#payment .order div input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 8px;
    color: white;
    width: 50%;
}

#payment .order button {
    margin-top: 20px;
    font-size: large;
    padding: 8px;
    height: 55px;
    color: white;
    font-weight: bolder;
    background-color: #0c79f8;
}

#payment .methods {
    /* padding: 24px; */
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 140px;
    gap: 20px;
}

/* #payment .methods > * {
    aspect-ratio: 4 / 3;
} */

#payment .methods div.type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: #233342;
    text-align: center;
    box-shadow:
        2px 0px 0px #1f2d3b,
        -2px 0px 0px #1f2d3b,
        0px 2px 0px #1f2d3b,
        0px -2px 0px #1f2d3b,
        0px 0px 0px 0px transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-sizing: content-box;
}

#payment .methods div.type img {
    max-width: 100%;
    max-height: 70px;
    object-fit: contain;
    /* margin-bottom: 20px; */
}

#payment .methods div.type span {
    color: rgba(70, 85, 103, 1);
    font-weight: 600;
}

#payment .methods div.type.active {
    box-shadow:
        2px 0px 0px #0c79f8,
        -2px 0px 0px #0c79f8,
        0px 2px 0px #0c79f8,
        0px -2px 0px #0c79f8,
        0px 0px 12px 2px #0c79f8;
}


button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

@media (max-width: 640px) {
    #payment {
        flex-wrap: wrap-reverse;
    }

    #payment .order {
        min-width: 100%;
    }
}